@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400&family=Lexend+Deca:wght@200&family=Montserrat:wght@200&family=Raleway:ital,wght@1,200&family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400&family=Lexend+Deca:wght@200;300&family=Montserrat:wght@200&family=Raleway:ital,wght@1,200&family=Roboto+Condensed:wght@300;400&display=swap');




body {
    background-color: hsl(218, 23%, 16%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.card {
    background-color: hsl(217, 19%, 24%);
    width: 1600px;
    height: 800px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 10vw;


}


.jeremias {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: hsl(150, 100%, 66%);
}

.frase {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    color: white;
}

.linha img
{
    width: 1200px;
    margin-left: 190px;
}
.borda
{
    width: 30px;
    height: 30px;
    border: 60px solid  hsl(150, 100%, 66%);
    background-color: hsl(150, 100%, 66%);
    border-radius: 100px;
    margin-left: 25vw;
    margin-top: 4vw;
}

.cubo img {
    color: black;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-top: -25px;
    margin-left: -23px;
    
}